<form #idOwner="ngForm" (ngSubmit)="verForId(idOwner)" novalidate>
    <input name="idOwn" ngModel required #idOwn="ngModel">
    <button class="btn btn-primary">Submit</button>
</form>

<div class="card" style="width: 18rem;">
    <div class="card-body" *ngFor="let Ownerid of OwnerForID">
        <h5 class="card-title">{{Ownerid.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{Ownerid.dni}}</h6>
        <p class="card-text">{{Ownerid.profession}}</p>

    </div>
</div>

<button type="button" class="btn btn-primary btn-sm" (click)="gotoCreate()">Agregar propietario</button>



<div class="card-columns">
    <div class="card" *ngFor="let Owners of OwnersUsers">
        <img src="../../../assets/user.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{Owners.name}}</h5>
            <p class="card-text">{{Owners.profession}}</p>
            <h3><b>Identificación: </b>
                <p>{{Owners.dni}}</p>
            </h3>
            <button type="button" class="btn btn-primary btn-sm" (click)="gotoedit(Owners.dni)">Editar propietario</button>

            <button type="button" class="btn btn-primary btn-sm" (click)="remove(Owners._links.self.href)">Eliminar propietario</button>


        </div>
    </div>
</div>