<form class="w-50 p-3" #editarOwner="ngForm" (ngSubmit)="editOwner(editarOwner.value)" novalidate>

    <label for="identificacionOwner">Identificación</label>
    <input type="number" class="form-control " id="identificacionOwner" [(ngModel)]="OwnerForID.dni" required name="dni" #dni>

    <label for="validationDefault02">Last name</label>
    <input type="text" class="form-control" id="validationDefault02" [(ngModel)]="OwnerForID.profession" name="profession" #profession required>

    <label for="validationDefault02">Last name</label>
    <input type="text" class="form-control" id="validationDefault02" [(ngModel)]="OwnerForID.name" name="name" #name required>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>